<!DOCTYPE html>
<html>
    {{partial "head" .}}
    <body>
      {{partial "header" .}}
         <article>{{.Content}}</article>
      <div class="posts">
         {{range .Pages}}
            {{partial "post" .}}
         {{end}}
      </div>
      </main>
      {{partial "footer" .}}
      {{partial "spritesheet" .}}
    </body>
</html>