<!DOCTYPE html>
<html>
    {{partial "head" .}}
    <body>
      {{partial "header" .}}
      {{ if .Content}}
         <article>{{.Content}}</article>
      {{end}}
      <hr>
      <p>
         <a href="mailto:{{.Site.Params.email}}?subject={{.Title}}">Reply to this post</a>
      </p>
      <div class="post-tags">
         {{range .GetTerms "tags" }}
     <a href="{{.Permalink}}" class="tag"><svg class='icon'>
         <use href="#tag"></use>
     </svg><span>{{.LinkTitle}}</span></a>
     {{end}}
     </div>
      {{partial "footer" .}}
      {{partial "spritesheet" .}}
    </body>
</html>