<footer>
    <div style="flex-direction:column;">
        <h2>Steal this look</h2>
        <i>Use <a href="https://code.gabe.rocks/gabriel/valor">this theme</a> for your <a
                href="https://gohugo.io">hugo</a> site</i>
    </div>
</footer>