<head>
<meta charset="utf-8" />
<title>{{.Title}}</title>
<link rel="alternate" type="application/rss+xml" href="{{.Site.BaseURL}}/index.xml">
<link rel="stylesheet" href="{{.Site.BaseURL}}/css/theme.css">
<link rel="stylesheet" href="{{.Site.BaseURL}}/style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="title" content="{{ .Title }}">
<meta name="description" content="{{.Params.description}}">
<meta name="og:site_name" content="{{.Site.Title}}">
<meta property="og:title" content="{{ .Title }}">
<meta property="og:description" content="{{.Params.description}}">
<meta property="og:url" content="{{.Permalink}}">
{{if .Params.video}}<meta property="og:type" content="video">
<meta property="og:video" content="{{.Site.BaseURL}}{{.Params.video}}">
<meta property="og:video:url" content="{{.Site.BaseURL}}{{.Params.video}}">
<meta property="og:video:secure_url" content="{{.Site.BaseURL}}{{.Params.video}}">
{{else}}{{if .Params.audio}}<meta property="og:audio" content="{{.Site.BaseURL}}{{.Params.audio}}">
<meta property="og:type" content="audio">
{{else}}<meta property="og:type" content="website">{{end}}{{end}}{{ if .Params.image }}
<meta property="og:image" content="{{.Site.BaseURL}}{{.Params.image}}">
{{else}}<meta property="og:image" content="{{.Site.BaseURL}}gabriel.jpg">
{{end}}    
</head>