<div class="post">
    <a href="{{.Permalink}}">
        <h2>{{.Title}}</h2>
    </a>
    <p>{{if .Date}}<strong>{{.Date | time.Format "Jan 02 2006"}}</strong>{{end}}</p>
    <p style="text-align: left;">{{.Summary}}</p>
    {{ if .GetTerms "tags" }}
    <div class="post-tags">
        {{range .GetTerms "tags" }}
        <a href="{{.Permalink}}" class="tag"><svg class='icon'>
                <use href="#tag"></use>
            </svg><span>{{.LinkTitle}}</span></a>
        {{end}}
    </div>
    {{end}}
</div>