<div class="post">
        {{if .Params.icon }}
        <a href="{{.Permalink}}"><img src="{{.Params.icon}}"></a>
        {{else}}
        <a href="{{.Permalink}}"><img src="/emoji/think.svg"></a>
        {{end}}
        <div style="flex-direction: column;min-width:30%; align-items:center;justify-content: center;">
            <a href="{{.Permalink}}">
                <h2>{{.Title}}</h2>
            </a>
            {{ if .Params.description}}
            <p>{{.Params.description}}</p>
            {{end}}
            <p>{{if .Date}}<strong>{{.Date | time.Format "Jan 02 2006"}}</strong>{{end}}</p>
            
        </div>
        <div style="flex-direction: column;align-items: center;justify-content: center;">
        <p >{{.Summary}}</p>
        {{ if .GetTerms "tags" }}
            <div class="post-tags">
                {{range .GetTerms "tags" }}
                <a href="{{.Permalink}}" class="tag"><svg class='icon'>
                        <use href="#tag"></use>
                    </svg><span>{{.LinkTitle}}</span></a>
                {{end}}
            </div>
            {{end}}
        </div>
</div>