<main id="profile">
        <div>
        {{ if .Site.Params.logo}}
        <a href="{{.Site.BaseURL}}">
            <img id="profilephoto" src="{{.Site.Params.logo}}">
        </a>
        {{end}}
        <div id="profile-details">
            <a href="{{.Site.BaseURL}}">
                <h1>{{.Site.Title}}</h1>
            </a>
            {{if .Site.Params.subtitle}}
            <p>{{.Site.Params.subtitle}}</p>
            {{end}}
        </div>
        {{ if .Site.Params.rss}}
            <a href="{{.Site.Params.rss}}">
                <svg class="icon icon-mid">
                    <use href="#rss"></use>
                </svg>
                
            </a>
        {{else}}
            <a href="{{.Site.BaseURL}}/index.xml">
                <svg class="icon icon-mid">
                    <use href="#rss"></use>
                </svg>
            </a>
        {{end}}
        </div>
        {{partial "nav" .}}
        <hr>
        {{ if .Content}}
        <article>
            {{.Content}}

            {{ if .GetTerms "tags" }}
            <div class="post-tags">
                <span>Tags:</span>
                {{range .GetTerms "tags" }}
                <a href="{{.Permalink}}">{{.LinkTitle}}</a>
                {{end}}
            </div>
            {{end}}
        </article>
        {{end}}
        <p><a href="https://code.gabe.rocks/gabrfiel/Valor">Valor</a> made by <a href="https://gabe.rocks">Gabriel</a></p>



</main>