<svg style="display:none;">
    <symbol id="shrink"
       viewBox="0 0 200 200"
    >
 
 
       <g>
          <path
             style="opacity:0.99;fill-opacity:0.992157;stroke:none;stroke-width:9.40921;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:25;stroke-dasharray:none;stroke-opacity:1;paint-order:normal"
             d="M 71.298823,69.935263 H -0.03828632 V 47.871962 H 48.197793 V 0.02489375 h 23.10103 z"
          />
          <path
             style="opacity:0.99;fill-opacity:0.992157;stroke:none;stroke-width:9.40921;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:25;stroke-dasharray:none;stroke-opacity:1;paint-order:normal"
             d="M 130.09,71.338352 V 0.0012511 h 22.0633 V 48.237331 h 47.84706 v 23.101021 z"
          />
          <path
             style="opacity:0.99;fill-opacity:0.992157;stroke:none;stroke-width:9.40921;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:25;stroke-dasharray:none;stroke-opacity:1;paint-order:normal"
             d="m 128.67057,130.06552 h 71.3371 v 22.0633 H 151.7716 v 47.84707 h -23.10103 z"
          />
          <path
             style="opacity:0.99;fill-opacity:0.992157;stroke:none;stroke-width:9.40921;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:25;stroke-dasharray:none;stroke-opacity:1;paint-order:normal"
             d="m 69.879393,128.66243 v 71.3371 H 47.816094 V 151.76345 H -0.03097146 v -23.10102 z"
          />
       </g>
    </symbol>
    <symbol id="loop"
       viewBox="0 0 200 200"
    >
 
 
       <g>
          <ellipse
             style="opacity:0.99;fill:none !important;;fill-opacity:0.992157;stroke-width:9.68031;stroke-linejoin:round;stroke-opacity:1"
             cy="99.93528"
             cx="100.03613"
             rx="95.000404"
             ry="95.057236" />
          <path
             style="opacity:0.99;fill:none !important;;fill-opacity:0.992157;stroke-width:12.8675;stroke-linejoin:round;stroke-miterlimit:25;stroke-dasharray:none;stroke-opacity:1"
             d="M 162.21491,61.314175 A 74.835358,74.835358 0 0 1 154.64285,152.9351 74.835358,74.835358 0 0 1 63.965737,168.08076 74.835358,74.835358 0 0 1 27.028787,83.894118 74.835358,74.835358 0 0 1 99.575333,27.425293" />
          <path
             style="opacity:0.99;fill-opacity:0.992157;stroke-width:1.03207;stroke-linejoin:round;stroke-miterlimit:25;stroke-dasharray:none;stroke-opacity:1"
             d="M 98.430641,10.898139 V 44.814313 L 123.1298,27.657939 Z"
          />
       </g>
    </symbol>
    <symbol id="substack"
       viewBox="0 0 200 200"
    >
 
 
       <g>
          <path
             style="opacity:0.99;fill:none !important;;fill-opacity:1;stroke-width:22.7343;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:25;stroke-dasharray:none;stroke-opacity:1"
             d="M 35.819292,74.079299 H 164.18071"
          />
          <path
             style="opacity:0.99;fill:none !important;;fill-opacity:1;stroke-width:22.7343;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:25;stroke-dasharray:none;stroke-opacity:1"
             d="M 35.891493,29.66426 H 164.25291"
          />
          <path
             style="opacity:0.99;fill-opacity:1;stroke:none;stroke-width:6.14662;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:25;stroke-opacity:1"
             d="M 24.935915,106.69884 H 175.06409 v 84.5545 l -74.82841,-43.26855 -75.299765,43.26855 z"
          />
       </g>
    </symbol>
    <symbol id="prev"
       viewBox="0 0 120 120"
    >
 
 
       <g>
          <path
             style="fill:none !important;;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:20;stroke-dasharray:none;stroke-opacity:1"
             d="M 116.6333,74.605732 H 49.837743 V 97.8903 L 3.3665561,59.544515 49.7379,22.109708 v 22.675377 h 66.8954 z"
          />
          <text
             xml:space="preserve"
             style="font-style:normal;font-weight:normal;font-size:19.4028px;line-height:1.25;font-family:sans-serif;fill-opacity:1;stroke:none;stroke-width:0.264583"
             x="39.456932"
             y="66.934982"
          ><tspan
          
          
          style="font-weight:bold;font-size:19.4028px;stroke-width:0.264583"
          x="39.456932"
          y="66.934982">Prev</tspan></text>
       </g>
    </symbol>
    <symbol id="headphones"
       viewBox="0 0 210 210"
    >
 
 
       <g>
          <path
             style="opacity:0.99;fill:none !important;;fill-opacity:0.992157;stroke-width:14.6469;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:25;stroke-dasharray:none;stroke-opacity:1"
             d="M 38.511665,103.48123 A 68.018555,68.018555 0 0 1 106.53022,35.462677 68.018555,68.018555 0 0 1 174.54877,103.48123"
          />
          <ellipse
             style="opacity:0.99;fill:none !important;;fill-opacity:0.992157;stroke:none;stroke-width:14.6469;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:25;stroke-dasharray:none;stroke-opacity:1"
             cx="66.965881"
             cy="181.87686"
             rx="2.6438539"
             ry="28.201105" />
          <path
             style="opacity:0.99;fill-opacity:0.992157;stroke-width:15;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:25;stroke-dasharray:none;stroke-opacity:1;paint-order:normal"
             d="m -106.70314,157.58701 a 40.838184,44.488354 0 0 1 -20.41909,38.52804 40.838184,44.488354 0 0 1 -40.83818,0 40.838184,44.488354 0 0 1 -20.4191,-38.52804"
             transform="rotate(-90)" />
          <path
             style="opacity:0.99;fill-opacity:0.992157;stroke-width:15;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:25;stroke-dasharray:none;stroke-opacity:1;paint-order:normal"
             d="m 187.35309,-52.263748 a 40.838184,44.488354 0 0 1 -20.41909,38.528045 40.838184,44.488354 0 0 1 -40.83819,-10e-7 40.838184,44.488354 0 0 1 -20.41909,-38.528044"
             transform="rotate(90)" />
          <rect
             style="opacity:0.99;fill-opacity:0.992157;stroke-width:1.02322;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:25;stroke-dasharray:none;stroke-opacity:1;paint-order:normal"
             width="9.0904961"
             height="95.662933"
             x="50.762516"
             y="99.513329" />
          <rect
             style="opacity:0.99;fill-opacity:0.992157;stroke-width:1.02322;stroke-linecap:butt;stroke-linejoin:bevel;stroke-miterlimit:25;stroke-dasharray:none;stroke-opacity:1;paint-order:normal"
             width="9.0904961"
             height="95.662933"
             x="153.0656"
             y="99.7257" />
       </g>
    </symbol>
    <symbol id="expand"
       viewBox="0 0 200 200"
    >
 
 
       <g>
          <path
             style="opacity:0.99;fill-opacity:0.992157;stroke:none;stroke-width:9.40921;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:25;stroke-dasharray:none;stroke-opacity:1;paint-order:normal"
             d="M -0.03828632,0.02489375 H 71.298823 V 22.088195 H 23.062744 V 69.935263 H -0.03828632 Z"
          />
          <path
             style="opacity:0.99;fill-opacity:0.992157;stroke:none;stroke-width:9.40921;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:25;stroke-dasharray:none;stroke-opacity:1;paint-order:normal"
             d="M 200.00036,0.0012511 V 71.338352 h -22.0633 V 23.102272 H 130.09 V 0.0012511 Z"
          />
          <path
             style="opacity:0.99;fill-opacity:0.992157;stroke:none;stroke-width:9.40921;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:25;stroke-dasharray:none;stroke-opacity:1;paint-order:normal"
             d="m 200.00767,199.97589 h -71.3371 v -22.0633 h 48.23607 v -47.84707 h 23.10103 z"
          />
          <path
             style="opacity:0.99;fill-opacity:0.992157;stroke:none;stroke-width:9.40921;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:25;stroke-dasharray:none;stroke-opacity:1;paint-order:normal"
             d="m -0.03097146,199.99953 v -71.3371 H 22.032328 v 48.23608 h 47.847065 v 23.10102 z"
          />
       </g>
    </symbol>
    <symbol id="pause"
       viewBox="0 0 200 200"
    >
 
 
       <g>
          <ellipse
             style="opacity:0.99;fill:none !important;;fill-opacity:0.992157;stroke-width:9.68031;stroke-linejoin:round;stroke-opacity:1"
             cy="99.93528"
             cx="100.03613"
             rx="95.000404"
             ry="95.057236" />
          <rect
             style="opacity:0.99;fill-opacity:0.992157;stroke:none;stroke-width:0.903084;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:25;stroke-dasharray:none;stroke-opacity:1;paint-order:normal"
             width="34.369987"
             height="121.93053"
             x="57.219501"
             y="42.457039" />
          <rect
             style="opacity:0.99;fill-opacity:0.992157;stroke:none;stroke-width:0.903084;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:25;stroke-dasharray:none;stroke-opacity:1;paint-order:normal"
             width="34.369987"
             height="121.93053"
             x="115.24053"
             y="42.650131" />
       </g>
    </symbol>
    <symbol id="link"
       viewBox="0 0 200 200"
    >
 
 
       <g>
          <path
             style="opacity:0.99;fill:none !important;;fill-opacity:0.992157;stroke-width:13.2824;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:25;stroke-dasharray:none;stroke-opacity:1"
             d="m 124.73051,54.085411 32.40251,-37.913745 c 14.1507,-16.55752582 47.43594,12.112318 33.3954,28.540963 L 121.22371,125.80514 C 106.92066,142.54096 73.29526,114.26912 87.828318,97.264184 L 97.64213,85.781162"
          />
          <path
             style="opacity:0.99;fill:none !important;;fill-opacity:0.992157;stroke-width:13.2824;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:25;stroke-dasharray:none;stroke-opacity:1"
             d="M 82.334206,140.08015 49.931702,177.99389 C 35.780999,194.55141 2.4957562,165.88157 16.536295,149.45293 L 85.841002,68.360413 C 100.14406,51.624595 133.76946,79.896436 119.2364,96.901374 l -9.81381,11.483016"
          />
       </g>
    </symbol>
    <symbol id="btc"
       viewBox="0 0 200 200"
    >
 
 
       <g>
          <circle
             style="opacity:0.99;fill:none !important;;fill-opacity:1;stroke-width:8;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:25;stroke-dasharray:none;stroke-opacity:1"
             cx="100"
             cy="100"
             r="92.324692" />
          <text
             xml:space="preserve"
             style="font-weight:bold;font-size:179.605px;font-family:'Liberation Sans';-inkscape-font-specification:'Liberation Sans Bold';text-align:center;text-anchor:middle;opacity:0.99;fill-opacity:1;stroke:none;stroke-width:4;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:25;stroke-dasharray:none;stroke-opacity:1"
             x="83.549644"
             y="186.25789"
             transform="rotate(-15.468221)"><tspan
          
          
          style="fill-opacity:1;stroke:none;stroke-width:4;stroke-dasharray:none"
          x="83.549644"
          y="186.25789">B</tspan></text>
          <rect
             style="opacity:0.99;fill-opacity:1;stroke:none;stroke-width:7.99999;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:25;stroke-dasharray:none;stroke-opacity:1"
             width="9.3419447"
             height="15.677465"
             x="43.400417"
             y="47.026237"
             rx="0"
             ry="0"
             transform="rotate(-15.468221)" />
          <rect
             style="opacity:0.99;fill-opacity:1;stroke:none;stroke-width:7.99999;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:25;stroke-dasharray:none;stroke-opacity:1"
             width="9.3419447"
             height="15.677465"
             x="66.457565"
             y="47.152031"
             rx="0"
             ry="0"
             transform="rotate(-15.468221)" />
          <rect
             style="opacity:0.99;fill-opacity:1;stroke:none;stroke-width:7.99999;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:25;stroke-dasharray:none;stroke-opacity:1"
             width="9.3419447"
             height="15.677465"
             x="43.380985"
             y="186.2144"
             rx="0"
             ry="0"
             transform="rotate(-15.468221)" />
          <rect
             style="opacity:0.99;fill-opacity:1;stroke:none;stroke-width:7.99999;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:25;stroke-dasharray:none;stroke-opacity:1"
             width="9.3419447"
             height="15.677465"
             x="66.41478"
             y="186.15088"
             rx="0"
             ry="0"
             transform="rotate(-15.468221)" />
          <rect
             style="opacity:0.99;fill-opacity:1;stroke:none;stroke-width:7.99999;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:25;stroke-dasharray:none;stroke-opacity:1"
             width="28.949465"
             height="19.075401"
             x="22.285784"
             y="167.17883"
             rx="0"
             ry="0"
             transform="rotate(-15.468221)" />
          <rect
             style="opacity:0.99;fill-opacity:1;stroke:none;stroke-width:7.99999;stroke-linecap:square;stroke-linejoin:round;stroke-miterlimit:25;stroke-dasharray:none;stroke-opacity:1"
             width="28.949465"
             height="19.075401"
             x="23.174849"
             y="62.679756"
             rx="0"
             ry="0"
             transform="rotate(-15.468221)" />
       </g>
    </symbol>
    <symbol id="rss" viewBox="0 0 200 200">
      <g>
         <path style="opacity:0.99;fill-opacity:0.992157;stroke-width:4.99999;stroke-linejoin:round;stroke-miterlimit:25;stroke-dasharray:none;stroke-opacity:1" d="m 15.529035,160.46959 a 26.28293,26.28293 0 0 1 26.42547,-26.09156 26.28293,26.28293 0 0 1 26.139524,26.37803 26.28293,26.28293 0 0 1 -26.330503,26.1874 26.28293,26.28293 0 0 1 -26.235185,-26.28289"></path>
         <path style="opacity:0.99;fill-opacity:1;stroke:none;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:25;stroke-dasharray:none;paint-order:fill markers stroke" d="m 14.878779,74.913223 v 30.280507 c 0,0 37.205853,-2.52487 59.963303,20.23258 22.123021,22.12302 20.13303,62.52756 20.13303,62.52756 h 33.851408 c 0,0 1.41061,-48.7721 -35.623416,-85.80612 C 61.559233,70.503879 14.878779,74.913223 14.878779,74.913223 Z"></path>
         <path style="opacity:0.99;fill-opacity:1;stroke:none;stroke-width:1;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:25;stroke-dasharray:none;stroke-opacity:1;paint-order:fill markers stroke" d="M 16.513336,9.3088266 V 48.312377 c 0,0 67.5859,4.356974 97.619314,34.390381 38.45846,38.458452 43.70858,104.340882 43.70858,104.340882 h 32.05003 c 0,0 0.99521,-77.86873 -52.66008,-131.524025 C 95.780501,14.068931 16.513336,9.3088266 16.513336,9.3088266 Z"></path>
      </g>
   </symbol>
    <symbol id="email"
       viewBox="0 0 210 210"
    >
 
 
       <g>
          <path
             style="fill:none !important;;fill-opacity:1;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;paint-order:stroke fill markers"
             d="M 199.7532,30.626328 V 156.0798 H 6.7479992 V 30.626328 Z"
          />
          <path
             style="fill:none !important;;fill-opacity:1;stroke-width:8;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1;paint-order:stroke fill markers"
             d="M 199.7532,30.626328 155.51095,121.36055 H 43.227339 L 8.4585796,30.626328"
          />
          <text
             xml:space="preserve"
             style="font-style:normal;font-weight:normal;font-size:66.3222px;line-height:1.25;font-family:sans-serif;fill-opacity:1;stroke:none;stroke-width:0.264583"
             x="72.000824"
             y="94.79673"
          ><tspan
          
          
          style="font-weight:bold;font-size:66.3222px;stroke-width:0.264583"
          x="72.000824"
          y="94.79673">@</tspan></text>
       </g>
    </symbol>
    <symbol id="next"
       viewBox="0 0 120 120"
    >
 
 
       <g>
          <path
             style="fill:none !important;;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:20;stroke-dasharray:none;stroke-opacity:1"
             d="M 3.3666991,45.394268 H 70.162259 V 22.1097 L 116.63345,60.455485 70.262102,97.890292 V 75.214915 H 3.3666991 Z"
          />
          <text
             xml:space="preserve"
             style="font-style:normal;font-weight:normal;font-size:19.4028px;line-height:1.25;font-family:sans-serif;fill-opacity:1;stroke:none;stroke-width:0.264583"
             x="39.456932"
             y="66.934982"
          ><tspan
          
          
          style="font-weight:bold;font-size:19.4028px;stroke-width:0.264583"
          x="39.456932"
          y="66.934982">Next</tspan></text>
       </g>
    </symbol>
    <symbol id="play"
       viewBox="0 0 200 200"
    >
 
 
       <g>
          <ellipse
             style="opacity:0.99;fill:none !important;;fill-opacity:0.992157;stroke-width:9.68031;stroke-linejoin:round;stroke-opacity:1"
             cy="99.93528"
             cx="100.03613"
             rx="95.000404"
             ry="95.057236" />
          <path
             style="opacity:0.99;fill-opacity:0.992157;stroke:none;stroke-width:1;stroke-linecap:butt;stroke-linejoin:round;stroke-miterlimit:25;stroke-dasharray:none;stroke-opacity:1;paint-order:normal"
             d="m 68.503477,169.27357 c -5.757834,-3.32429 -4.829598,-135.759422 0,-138.547791 5.258545,-3.036022 106.900773,62.443169 106.900773,71.382371 0,9.46586 -101.820676,70.09842 -106.900773,67.16542 z"
          />
       </g>
    </symbol>
    <symbol id="tag"
       viewBox="0 0 200 200"
    >
 
 
       <g>
          <path
             style="opacity:0.99;fill:none !important;;fill-opacity:0.992157;stroke-width:6;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:25;stroke-dasharray:none;stroke-opacity:1"
             d="m 6.281763,111.86211 c 0,12.99786 67.485752,80.84067 77.193916,80.84067 9.757909,0 74.315171,-70.29527 89.112641,-85.09274 6.99227,-6.99228 6.83158,-88.060832 6.83158,-88.060832 0,0 -77.7666,3.606593 -84.025496,7.220168 C 76.605972,37.616882 6.281763,99.864196 6.281763,111.86211 Z"
          />
          <circle
             style="opacity:0.99;fill:none !important;;fill-opacity:0.992157;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:25;stroke-dasharray:none;stroke-opacity:1"
             cx="138.22505"
             cy="-78.649734"
             r="12.46391"
             transform="rotate(46.321904)" />
          <path
             style="opacity:0.99;fill:none !important;;fill-opacity:0.992157;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:25;stroke-dasharray:none;stroke-opacity:1"
             d="m 32.307964,111.18133 59.64203,59.64203 z"
          />
          <path
             style="opacity:0.99;fill:none !important;;fill-opacity:0.992157;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:25;stroke-dasharray:none;stroke-opacity:1"
             d="M 45.070354,98.671666 104.71238,158.3137 Z"
          />
          <path
             style="opacity:0.99;fill:none !important;;fill-opacity:0.992157;stroke-width:5;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:25;stroke-dasharray:none;stroke-opacity:1"
             d="m 57.643191,85.97246 59.642029,59.64203 z"
          />
       </g>
    </symbol>
 </svg>