<!DOCTYPE html>
<html>
    {{partial "head" .}}
    <body>      
      {{partial "header" .}}
      <main>
      <article>
        <h1>Can't find what you're looking for.</h1>
        {{if .Site.Params.email}}
        If this is a mistake, please <a href="mailto:{{.Site.Params.email}}?subject=404s">let me know</a>
        {{end}}
      </article>
      </main>
        <div class="spacer"></div>
      {{partial "footer" .}}
      {{partial "spritesheet" .}}
    </body>
</html>