<!DOCTYPE html>
<html>
{{partial "head" .}}

<body>
    {{partial "header" .}}
    <main>
    {{partial "side1" .}}
    <section id="content">
        {{.Content}}
    </section>
    {{partial "side2" .}}
    </main>
    {{partial "footer" .}}
    {{partial "spritesheet" .}}
</body>

</html>